<ng-container *ngIf="doctors">
  <div class="row d-flex justify-content-center align-items-center m-4">
    <div class="row align-items-center justify-content-center">
      <h3 class="m-0">
        Welcome <b>{{ (currentUser$ | async).displayName }} !</b>
      </h3>
      <div class="ml-3">
        <button class="btn btn-danger" mat-raised-button (click)="logout()">
          Logout
        </button>
      </div>
    </div>
    <div class="row col-12 justify-content-center my-3">
      <button mat-raised-button (click)="getDoctors()">
        Refresh doctors list
      </button>
    </div>
    <div class="row col-12 justify-content-center align-items-center">
      <h5 class="text-warning mt-4 mb-3" (click)="filterByAvailability($event)">
        <button mat-raised-button *ngIf="!sort; else showAll">
          Show only available doctors
        </button>
        <ng-template #showAll
          ><button mat-raised-button>Show all doctors</button></ng-template
        >
      </h5>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <table class="d-flex row table table-hover justify-content-center">
          <thead class="d-flex thead-light col-12 justify-content-center">
            <tr class="row w-100 text-center">
              <th class="col-2">Doctor</th>
              <th class="col-2">Availability</th>
              <th class="col-2">Specialist</th>
              <th class="col-2">Create an appointment</th>
              <th class="col-4">Appointments</th>
            </tr>
          </thead>
          <tbody class="row d-flex col-12 justify-content-center mb-1">
            <tr
              class="row w-100 text-center align-items-center"
              *ngFor="let doctor of doctors"
            >
              <th class="col-2">{{ doctor.name }}</th>
              <td class="col-2">
                <span
                  class="justify-content-center"
                  *ngIf="doctor.available; else notAvailable"
                >
                  Available now &nbsp;&nbsp;&nbsp;
                </span>
                <ng-template #notAvailable>
                  <span class="justify-content-center"
                    >Currently not available &nbsp;&nbsp;&nbsp;</span
                  >
                </ng-template>
              </td>
              <td class="col-2">{{ doctor.doctorField }}</td>
              <td class="col-2">
                <button
                  mat-raised-button
                  (click)="openAppointmentCreationDialog(doctor)"
                >
                  New appointment
                </button>
              </td>
              <td class="row col-4 ml-1">
                <div class="d-flex w-50 justify-content-start">
                  <div class="w-100 justify-content-center">
                    <button
                      mat-raised-button
                      (click)="openAppointmentsDialog(doctor)"
                    >
                      My appointments
                    </button>
                  </div>
                </div>
                <div class="d-flex w-50 justify-content-end">
                  <div class="w-100 justify-content-center">
                    <button
                      mat-raised-button
                      (click)="openAppointmentsDialog(doctor, true)"
                    >
                      {{ doctor.name }} waiting list
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
